* {
  box-sizing: border-box;
  font-weight: normal;
  font-family: Arial, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, sans-serif;
}

html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: #ECEEF0;
  color: #1D1B30 !important;
}

.text-break {
  overflow-wrap: break-word !important;
}

.md-font-sm {
  font-size: 90%;
}

.md-font-xs {
  font-size: 80%;
}

.material-icons.md-16 {
  font-size: 16px;
}
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-20 {
  font-size: 20px;
}

.md-bg-1 {
  background-color: #1264A3 !important;
}

.md-bg-2 {
  background-color: #53AAEC !important;
}

.md-fg-0 {
  color: #FFFFFF !important;
}

a {
  color: inherit;
}

form input[type=text], form input[type=password], form select, form textarea[type=text], form .alert {
  border-radius: 0.5rem !important;
}
form .help-text {
  display: none;
}
form .form-row:focus-within > .form-group > .help-text, form .form-group:focus-within > .help-text {
  display: block;
}

.md-chat-inpbar .md-send-form .md-btn-send, .md-appt-ovw-btn, .md-pfl-ovw-btn, .md-tpbar .md-tpbar-btn {
  background-color: #1264A3 !important;
  color: #FFFFFF !important;
  border-color: #1264A3 !important;
}

.md-chat-inpbar .md-send-form .md-btn-send:hover, .md-chat-inpbar .md-send-form .md-btn-send:focus, .md-appt-ovw-btn:hover, .md-pfl-ovw-btn:hover, .md-tpbar .md-tpbar-btn:hover {
  background-color: #53AAEC !important;
  color: #FFFFFF !important;
  border-color: #53AAEC !important;
  box-shadow: 0 0 0 0.15rem #53AAEC !important;
}

.md-appt-ovw-lv-btn, .md-widget .md-title .btn {
  background-color: inherit !important;
  box-shadow: none;
}

.md-appt-ovw-lv-btn:hover, .md-widget .md-title .btn:hover, .md-widget .md-title .btn:focus {
  box-shadow: 0 0 0 0.15rem;
}

.md-widget .list-group .list-group-item .dropdown .btn:focus, .md-widget .list-group .list-group-item .dropdown .btn {
  background-color: inherit !important;
  border-style: none;
  box-shadow: none;
}

.btn-round {
  border-radius: 50%;
}

.md-list .md-appt-li, .md-list .md-date-li .md-date-item, .md-list .list-group-item {
  border-radius: 0.5rem !important;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.md-list .md-date-li {
  box-shadow: none !important;
  background-color: inherit !important;
}
.md-list .md-date-li .md-date-item {
  background-color: #1264A3 !important;
  color: #FFFFFF !important;
}
.md-list .md-appt-li {
  color: inherit !important;
}

.md-sdbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  flex-direction: column !important;
}
@media (min-width: 768px) {
  .md-sdbar.collapse.no-collapse-md {
    display: flex;
    visibility: visible;
  }
}
.md-sdbar .nav {
  background-color: inherit !important;
}
.md-sdbar .nav .nav-item {
  background-color: inherit;
  color: #FFFFFF !important;
  border-style: none;
  border-radius: 0.5rem !important;
}
.md-sdbar .nav .nav-item:hover {
  background-color: #53AAEC !important;
  color: #FFFFFF !important;
}
.md-sdbar .nav .nav-item a {
  font-weight: bold;
}
.md-sdbar .nav .nav-item a:hover {
  color: #FFFFFF !important;
}

.md-tpbar {
  background-color: #FFFFFF;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}
@media (min-width: 768px) {
  .md-tpbar .nav-link {
    border-radius: 50% !important;
  }
}
.md-tpbar .md-tpbar-acct .nav-link:focus {
  outline-style: none !important;
}

.md-widget {
  border-radius: 0.5rem !important;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
.md-widget .md-title {
  border-bottom: none !important;
}
.md-widget .md-title .navbar-brand {
  font-size: 1.125rem !important;
}
.md-widget .list-group .list-group-item:last-child {
  border-bottom-left-radius: 0.5rem !important;
  border-bottom-right-radius: 0.5rem !important;
}
.md-appt-vw-date {
  font-size: 5rem !important;
}

.md-appt.md-appt-li .md-appt-st, .md-appt.md-appt-li .md-appt-pmt {
  border-radius: 0.5rem !important;
}
.md-appt.md-appt-li .md-appt-st.st-pending, .md-appt.md-appt-li .md-appt-pmt.st-pending {
  background-color: #FCF0C1;
  color: #F9AE3F;
}
.md-appt.md-appt-li .md-appt-st.st-accept, .md-appt.md-appt-li .md-appt-pmt.st-accept {
  background-color: #E2F8E9;
  color: #37BC64;
}
.md-appt.md-appt-li .md-appt-st.st-reject, .md-appt.md-appt-li .md-appt-pmt.st-reject {
  background-color: #FFF3F3;
  color: #DE5050;
}

.vd-nw-apt-pl {
  position: fixed;
  z-index: 9999;
  max-height: 9rem;
}

.md-chat .md-chat-sys {
  border-radius: 0.5rem !important;
  background-color: #1264A3 !important;
  color: #FFFFFF !important;
}
.md-chat .md-chat-msg {
  width: auto;
  border-radius: 0.5rem !important;
}
.md-chat .md-chat-msg.md-chat-in {
  background-color: #C1C8CF78 !important;
  color: #1D1B30 !important;
}
.md-chat .md-chat-msg.md-chat-out {
  background-color: #53AAEC63 !important;
  color: #1D1B30 !important;
}
.md-chat .md-chat-msg p {
  color: inherit !important;
  overflow-wrap: break-word !important;
  word-wrap: break-word !important;
  word-break: break-all !important;
  hyphens: auto;
}
.md-chat .md-chat-msg small {
  color: inherit !important;
}

.md-chat-inpbar {
  background-color: #FFFFFF;
  box-shadow: 0 -0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}
.md-pfl-pic {
  object-fit: cover;
  border-radius: 0.5rem !important;
}
.md-pfl-pic.md-pfl-bg {
  width: 170px !important;
  height: 170px !important;
}
.md-pfl-pic.md-pfl-sm {
  width: 50px !important;
  height: 50px !important;
}
.md-pfl-pic.md-pfl-xs {
  width: 36px !important;
  height: 36px !important;
}
.md-pfl-pic.md-pfl-round {
  border-radius: 50% !important;
}

/*# sourceMappingURL=styles.css.map */
